<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="contentProposer" name="SAFARI Content Proposer" schema="schema/contentProposer.exsd"/>
   <extension-point id="hoverHelper" name="SAFARI Hover Helper" schema="schema/hoverHelper.exsd"/>
   <extension-point id="outliner" name="SAFARI Outliner" schema="schema/outliner.exsd"/>
   <extension-point id="tokenColorer" name="SAFARI Token Colorer" schema="schema/tokenColorer.exsd"/>
   <extension-point id="languageDescription" name="Description of a programming language" schema="schema/languageDescription.exsd"/>
   <extension-point id="index" name="Shared index of language-specific items, such as types" schema="schema/index.exsd"/>
   <extension-point id="parser" name="Language-specific parser" schema="schema/parser.exsd"/>
   <extension-point id="modelListener" name="Listener for model changes" schema="schema/modelListener.exsd"/>
   <extension-point id="hyperLink" name="SAFARI Hyperlink Detector" schema="schema/hyperLink.exsd"/>
   <extension-point id="autoEditStrategy" name="Auto-Edit Strategy" schema="schema/autoEditStrategy.exsd"/>
   <extension-point id="foldingUpdater" name="SAFARI Source Folding Updater" schema="schema/foldingUpdater.exsd"/>
   <extension-point id="annotationHover" name="Annotation Hover" schema="schema/annotationHover.exsd"/>
   <extension-point id="formatter" name="SAFARI Source Code Formatter" schema="schema/formatter.exsd"/>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="SAFARI Editor"
            icon="icons/uide-editor.gif"
            extensions="txt"
            contributorClass="org.eclipse.uide.editor.UniversalEditor$TextEditorActionContributor"
            class="org.eclipse.uide.editor.UniversalEditor"
            id="org.eclipse.ui.DefaultTextEditor">
      </editor>
   </extension>
   <extension
         id="org.eclipse.uide.startup"
         name="UIDE Runtime Startup"
         point="org.eclipse.ui.startup">
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
          targetID="org.eclipse.ui.DefaultTextEditor"
          id="uide.rulerActions">
         <action
             label="Not Used"
             class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
             style="push"
             actionID="RulerDoubleClick"
             id="uide.doubleClickBreakpointAction"/>
      </editorContribution>
   </extension>
</plugin>
