<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="contentProposer" name="SAFARI Content Proposer" schema="schema/contentProposer.exsd"/>
   <extension-point id="hoverHelper" name="SAFARI Hover Helper" schema="schema/hoverHelper.exsd"/>
   <extension-point id="outliner" name="SAFARI Outliner" schema="schema/outliner.exsd"/>
   <extension-point id="tokenColorer" name="SAFARI Token Colorer" schema="schema/tokenColorer.exsd"/>
   <extension-point id="languageDescription" name="Description of a programming language" schema="schema/languageDescription.exsd"/>
   <extension-point id="indexContributor" name="Shared index of language-specific items, such as types" schema="schema/indexContributor.exsd"/>
   <extension-point id="parser" name="Language-specific parser" schema="schema/parser.exsd"/>
   <extension-point id="modelListener" name="Listener for model changes" schema="schema/modelListener.exsd"/>
   <extension-point id="hyperLink" name="SAFARI Hyperlink Detector" schema="schema/hyperLink.exsd"/>
   <extension-point id="autoEditStrategy" name="Auto-Edit Strategy" schema="schema/autoEditStrategy.exsd"/>
   <extension-point id="foldingUpdater" name="SAFARI Source Folding Updater" schema="schema/foldingUpdater.exsd"/>
   <extension-point id="annotationHover" name="Annotation Hover" schema="schema/annotationHover.exsd"/>
   <extension-point id="formatter" name="SAFARI Source Code Formatter" schema="schema/formatter.exsd"/>
   <extension-point id="labelProvider" name="Label Provider" schema="schema/labelProvider.exsd"/>
   <extension-point id="imageDecorator" name="Image Decorator" schema="schema/imageDecorator.exsd"/>
   <extension-point id="viewerFilter" name="Program Entity Viewer Filter" schema="schema/viewerFilter.exsd"/>
   <extension-point id="outlineContentProvider" name="Outline Content Provider" schema="schema/outlineContentProvider.exsd"/>
   <extension-point id="refactoringContributions" name="Refactoring Contributions" schema="schema/refactoringContributions.exsd"/>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="SAFARI Editor"
            icon="icons/uide-editor.gif"
            extensions="txt"
            contributorClass="org.eclipse.uide.editor.TextEditorActionContributor"
            class="org.eclipse.uide.editor.UniversalEditor"
            id="org.eclipse.uide.runtime.safariEditor">
      </editor>
   </extension>
   <extension
         id="org.eclipse.uide.startup"
         name="UIDE Runtime Startup"
         point="org.eclipse.ui.startup">
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
          targetID="org.eclipse.ui.DefaultTextEditor"
          id="uide.rulerActions">
         <action
             label="Not Used"
             class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
             style="push"
             actionID="RulerDoubleClick"
             id="uide.doubleClickBreakpointAction"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            name="org.eclipse.uide.editor.parseAnnotation"
            super="org.eclipse.ui.workbench.texteditor.error"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.uide.editor.parseAnnotation"
            colorPreferenceKey="parseAnnotationColor"
            colorPreferenceValue="255,128,147"
            contributesToHeader="false"
            highlightPreferenceKey="parseAnnotationHighlightKey"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="parseAnnotationIsGotoNextKey"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="parseAnnotationIsGotoPrevKey"
            label="SAFARI Parser Annotation"
            overviewRulerPreferenceKey="parseAnnotationOverviewKey"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            showInNextPrevDropdownToolbarAction="true"
            symbolicIcon="error"
            textPreferenceKey="parseAnnotationTextKey"
            textPreferenceValue="true"
            textStylePreferenceKey="parseAnnotationTextStyleKey"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="parseAnnotationVerticalKey"
            verticalRulerPreferenceValue="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.uide.preferences.PreferencePage"
            id="org.eclipse.uide.runtime.preferencePage"
            name="SAFARI"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.uide.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.uide.runtime.showOutlineCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O"/>
      <key
            commandId="org.eclipse.uide.runtime.toggleComment"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Show the quick outline for the editor input"
            id="org.eclipse.uide.runtime.showOutlineCommand"
            name="Show Outline"/>
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            description="Comments/uncomments the current selection or the current source line"
            id="org.eclipse.uide.runtime.toggleComment"
            name="Toggle Comment"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.uide.runtime.refactoringActions"
            label="SAFARI Refactoring Actions"
            visible="true">
         <menu
               id="org.eclipse.uide.refactoring"
               label="Refactor">
            <separator name="org.eclipse.uide.refactoring"/>
         </menu>
      </actionSet>
   </extension>
</plugin>
